# PostgreSQL
POSTGRES_HOST=postgres
POSTGRES_PORT=
POSTGRES_USER=nestuser
POSTGRES_PASSWORD=nestpassword
POSTGRES_DB=nestdb

# Redis
REDIS_HOST=redis
REDIS_PORT=

# App
APP_PORT=

# JWT
JWT_SECRET=change-me
JWT_EXPIRES_IN=1h
